name: E2E Tests
# Installs AB with the given runtime and run our e2e test.
on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string

jobs:
  cypress-test:
    name: Cypress E2E Tests
    runs-on: ubuntu-latest
    env:
      CYPRESS_RESPONSE_TIMEOUT: 200000
      CYPRESS_DEFAULT_COMMAND_TIMEOUT: 30000
      CYPRESS_RETRIES: 2
    steps:
      - name: Install AppBuilder
        uses: CruGlobal/ab-install-action@v1
        with:
          folder: ab
          port: 8080
          runtime: ${{ inputs.ref }}

      - name: Check out kitchen-sink tests
        uses: actions/checkout@v4
        with:
          path: ab/test/e2e/cypress/e2e/kitchensink_app

      - name: Deploy Stack
        run: ./UP.sh -t -q
        working-directory: ./ab

      # These next steps are to save our ablogs to file
      - run: npm install pm2@latest -g
      - name: Save Logs
        run: pm2 start ./logs.js -- --toFile logs/ABServices.log
        working-directory: ./ab

      - run: docker service ls

      # Run test
      - name: Wait for AB
        if: false
        uses: ifaxity/wait-on-action@v1.2.1
        with:
          resource: http://localhost:8080
          timeout: 300000
      - run: sleep 60s

      - run: docker service ls

      - name: Run Cypress Tests
        run: npm run test:e2e:ab-runtime -- --browser chrome
        working-directory: ./ab

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots
          path: ./ab/test/e2e/cypress/screenshots

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: ABServices.log
          path: ./ab/logs/ABServices.log
